/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2014, 11:11:11 PM
    Author     : Neo
*/

*{
    margin:0px;
    padding: 0px;
}

root { 
    display: block;
}

@media print{
    .cheque{
        width: 24cm;
        height: 9cm;
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;
        border: 1px solid!important;
    }
    
    .tblGrn{
        font-size: 8px;
        position: absolute!important;
    }
    
    .balanceCf{        
        position: absolute!important;
        margin-left: 3.2cm;
        margin-top: 7cm;
    }
    
    .pay{        
        position: absolute!important;
        margin-left: 7.5cm;
        margin-top: 2.5cm;
    }
    
    .insCode{
        position: absolute!important;
        margin-left: 3.2cm;
        margin-top: 6cm;
    }
    
    .insName{
        position: absolute!important;
        margin-left: 16cm;
        margin-top: 5cm;
    }
    
    .amount{
        position: absolute!important;
        margin-left: 18.5cm;
        margin-top: 4cm;
    }
}


@media screen{
    .cheque{
        width: 24cm;
        height: 9cm;
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;
        border: 1px solid!important;
    }
    
    .tblGrn{
        font-size: 8px;
        position: absolute!important;
    }
    
    .balanceCf{        
        position: absolute!important;
        margin-left: 3.2cm;
        margin-top: 7cm;
    }
    
    .pay{        
        position: absolute!important;
        margin-left: 7.5cm;
        margin-top: 2.5cm;
    }
    
    .insCode{
        position: absolute!important;
        margin-left: 3.2cm;
        margin-top: 6cm;
    }
    
    .insName{
        position: absolute!important;
        margin-left: 16cm;
        margin-top: 5cm;
    }
    
    .amount{
        position: absolute!important;
        margin-left: 18.5cm;
        margin-top: 4cm;
    }
    
}