/*
    eight column filter panel css
    three label columns and three input columns with two space columns in between
*/

.fp-col-label1,
.fp-col-extraWidth-label2,
.fp-col-label3 {
    width: 14%;
}

.fp-col-label2 {
    width: 10%;
}

.fp-col-input1,
.fp-col-input2,
.fp-col-input3 {
    width: 18%;
}

.fp-col-space1,
.fp-col-space2 {
    width: 2%;
}

.fp-label {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    gap: 0 20px;
}

.fp-label-text{
    display: flex; 
    align-items: center; 
    flex: 1 1 45px;
}

@media (max-width: 768px) {    
    .fp-label-text {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .fp-label-text {
        font-size: 12px;
    }
}