/* General Container */
.receipt-container {
    font-family: "Courier New", "Liberation Mono", monospace;
    font-size: 12px;
    line-height: 1.2;
    width: 11cm;
    height: 14cm;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
    page-break-before: always;
    border: 1px solid #000;
}

/* Header */
.hospital-name {
    font-family: sans-serif !important;
    text-align: center!important;
    font-weight: normal!important;
    font-size: 16px!important; /* Larger font for hospital name */
    text-transform: uppercase!important;
}

.hospital-details {
    text-align: center;
    font-size: 12px;
    font-family: sans-serif !important;
    line-height: 1.2;
}

/* Line Separator */
.separator {
    border-top: 1px solid #000;
    margin: 2px 0;
}

/* Patient and Bill Info Table */
.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2px;
}

.info-table td {
    font-size: 12px;
    padding: 5px;
}

.info-table .label {
    font-weight: normal!important;
    text-align: left;
}

.info-table .value {
    text-align: left;
}

.info-table .spacer {
    width: 10px; /* Adds space between the two columns */
}

/* Item Table */
.receipt-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin-bottom: 2px;
}

.receipt-table th,
.receipt-table td {
    text-align: left;
    padding: 2px;
    font-family: sans-serif !important;
    line-height: 1.2;
    /*    border-bottom: 1px solid #000;*/
}

.receipt-table th {
    font-weight: normal!important;
    text-transform: uppercase;
    font-family: sans-serif !important;
    line-height: 1.2;
}

/* Total Section Table */
.total-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
    font-size: 15px;
    font-family: sans-serif !important;
    line-height: 1.2;
}

.total-table td {
    padding: 2px;
    font-family: sans-serif !important;
    line-height: 1.2;
}

.total-table .label {
    font-weight: normal!important;
    text-align: left;
    font-family: sans-serif !important;
    line-height: 1.2;
}

.total-table .value {
    text-align: right;
    font-weight: normal!important;
    font-family: sans-serif !important;
    line-height: 1.2;
}

/* Footer */
.receipt-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    font-style: italic;
    font-family: sans-serif !important;
    line-height: 1.2;
}

/* Print Styles */
@media print {
    .receipt-container {
        border: none;
        width: 12cm!important;
        height: 14cm!important;
        margin-left: 0cm!important;
        margin-right: 2.5cm!important;
        margin-bottom: 1.0cm!important;
        margin-top: 3.2cm!important;
        font-family: sans-serif !important;
        padding-left: 0.4cm;
        page-break-before: always;
        /*        font-family: sans-serif !important;
                border: none;
                width: 11cm!important;
                height: 14cm!important;
                margin-left: 0cm!important;
                margin-right: 1.5cm!important;
                margin-top: 1cm!important;
                margin-bottom: 0cm!important;
                padding: 2px!important;
                line-height: 1.2!important;*/
    }

    .hospital-name {
        font-size: 12px;
        font-family: sans-serif !important;
        line-height: 1.2;
    }

    .receipt-table th,
    .receipt-table td {
        padding: 2px;
        font-family: sans-serif !important;
        line-height: 1.2;
    }

    .separator {
        margin: 2px;
        font-family: sans-serif !important;
        line-height: 1.2;
    }
}