/* 
    Document   : printing
    Created on : Oct 6, 2013, 11:53:48 AM
    Author     : Buddhika
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


@media print{
    .fiveinchbill{
        page-break-after:always!important; 
        position: relative!important;  
        margin: 0px;
        padding: 1em;
    }
}


@media screen{
    .fiveinchbill{
        position: relative!important;
        width: 5in !important;
        height: 5in!important;
        border: 1px solid!important;
    }
}

