@media print{
    .posbill{
        position: relative!important;  
        margin-top: -2cm!important;       
        width: 100%;
        padding: 0px!important;
        margin: 0px!important;
        border: none!important;
        font-family:Arial, Helvetica, sans-serif!important;
        /*        font:*/
        font-size: 11px!important; 
        /*        text-transform: uppercase!important;*/
        
        
    }
    
    .a4bill{
        page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 100%;

    }

    .institutionName{
        text-align: center!important;
        font-weight: bold!important;
        font-size: 16px!important;
        font-weight: bolder;
        font-family: monospace;
        text-transform: capitalize!important;

    }

}


@media screen{
    .posbill{
        position: relative!important;
        
        width:400px!important; 
        
        font-family: monospace!important; 
        margin: auto!important; 
        background-size: 100% auto!important; 
        border: 1px solid!important;
        font-size: 100%;
        
        font-size: 11px!important; 
       
    }
    
    .a4bill{
        
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 100%;
    }


    .institutionName{
        text-align: center!important;
        font-weight: bold!important;
        font-size: 16px!important;
        font-weight: bolder;
        font-family: monospace;

    }

}



.institutionContact{
    position: relative!important;
    text-align: center!important;   
    font-size: 12px!important;
    font-family:monospace;
}

.billDetails{
    text-align: center!important;   
    /*font-size: 11px!important;*/
    font-family:Arial, Helvetica, sans-serif!important;
}

.itemHeadings{
    text-align: center!important;   
    font-size: 13px!important;
    font-family:Arial, Helvetica, sans-serif!important;
    font-weight: bold;
}

.itemsBlock{
    text-align: center!important;   
    font-size: 13px!important;
    font-family:Arial, Helvetica, sans-serif!important;
    text-transform: capitalize!important;
}

itemsBlockRight{
    text-align: right!important;   
    font-size: 13px!important;
    font-family:Arial, Helvetica, sans-serif!important;
    text-transform: capitalize!important;
    padding-right: 30px;
}

.footer{
    text-align: center!important;   
    font-size: 12px!important;
    font-family: monospace;

}

.billline{
    text-align: center!important;
    overflow: hidden;
}

.headingBill{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 15px!important;
    font-weight: bold;
}

.poDetail{
    font-size: 11px!important;
    font-family: sans;
    min-width: 100%!important;
}

.totalsBlock{
    font-size: 14px!important;
    font-family:Arial, Helvetica, sans-serif!important;
}
