@media print{
    .posbillheader{
        position: relative!important;
        margin-top: -0.5cm!important;
        width: 100%;
        padding: 0px!important;
        margin: 0px!important;
        border: none!important;
        font-family: monospace!important;
        /*        font:*/
        font-size: 12px!important;
        /*        text-transform: uppercase!important;*/


    }

    .fiveinchbill{
        position: relative!important;
        padding: 5px!important;
        width: 12cm!important;
        height: 14cm!important;

        font-family: sans-serif!important;
        font-size: 11px!important;
        margin: auto!important;
        background-size: 100% auto!important;
        /*        border: 1px solid!important;*/
        font-size: 130%;
        text-transform: capitalize!important;

    }

    .channelRecipt_24_2x9_3{
        position: relative!important;
        padding: 5px!important;
        width: 24.2cm!important;
        height: 9.3cm!important;

        font-family: sans-serif!important;
        margin: auto!important;
        background-size: 100% auto!important;
        /*        border: 1px solid!important;*/
        text-transform: capitalize!important;
    }

    .channelCoop{

        border: 1px solid!important;
        padding: 5px!important;
        width: 12cm!important;
        height: 9.5cm!important;

        margin: auto!important;
    }

    .posbillBreak{
        position: relative!important;
        margin-top: -2cm!important;
        width: 100%;
        padding: 0px!important;
        margin: 0px!important;
        border: none!important;
        font-family:Arial, Helvetica, sans-serif!important;
        /*        font:*/
        font-size: 11px!important;
        /*        text-transform: uppercase!important;*/
        page-break-after:always!important;

    }

    /*    .billDetails{
            text-align: center!important;   
            font-size: 9px!important;
            font-family:Arial, Helvetica, sans-serif!important;
        }*/

    .a4bill{
        page-break-after:always!important;
        font-family: sans-serif!important;
        font-size: 11px!important;
        position: relative!important;
        margin: 0px!important;
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 100%;

    }

    .institutionName{
        text-align: center!important;
        font-weight: bold!important;
        font-size: 20px!important;
        font-weight: bolder;
        font-family: monospace;
        text-transform: capitalize!important;

    }

    .institutionContact{
        position: relative!important;
        text-align: center!important;
        font-size: 12px!important;
        font-family:monospace;
    }

    .billDetails{
        text-align: center!important;
        font-size: 12px!important;
        font-family:Arial, Helvetica, sans-serif!important;
    }
    .channelNumber{
        font-size: 50px!important;
    }

}


@media screen{
    .fiveinchbill{
        position: relative!important;
        padding: 5px!important;
        width: 12cm!important;
        height: 14cm!important;

        font-family: sans-serif!important;
        font-size: 11px!important;
        margin: auto!important;
        background-size: 100% auto!important;
        border: 1px solid!important;
        font-size: 100%!important;
        text-transform: capitalize!important;

    }
    
    .posbillheader{
        position: relative!important;

        width:400px!important;

        font-family: monospace!important;
        margin: auto!important;
        background-size: 100% auto!important;
        border: 1px solid!important;
        font-size: 100%;

        font-size: 11px!important;
        page-break-after:always!important;
    }

    .posbillBreak{
        position: relative!important;

        width:400px!important;

        font-family: monospace!important;
        margin: auto!important;
        background-size: 100% auto!important;
        border: 1px solid!important;
        font-size: 100%;

        font-size: 11px!important;
        page-break-after:always!important;

    }

    .channelRecipt_24_2x9_3{
        position: relative!important;
        padding: 5px!important;
        width: 24.2cm!important;
        height: 9.3cm!important;

        font-family: sans-serif!important;
        margin: auto!important;
        background-size: 100% auto!important;
        border: 1px solid!important;
        text-transform: capitalize!important;
    }

    .channelCoop{
        position: relative!important;

        font-family: sans-serif!important;
        border: 1px solid!important;
        padding: 5px!important;
        width: 12cm!important;
        height: 9.5cm!important;

        margin: auto!important;
        background-size: 100% auto!important;
    }

    .posbillBreak{
        position: relative!important;

        width:400px!important;

        font-family: monospace!important;
        margin: auto!important;
        background-size: 100% auto!important;
        border: 1px solid!important;
        font-size: 100%;

        font-size: 11px!important;
        page-break-after:always!important;

    }

    .a4bill{

        font-family: sans-serif!important;
        font-size: 11px!important;
        position: relative!important;
        margin: 0px auto!important;
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 100%;
        border: 1px solid!important;
        page-break-after: always;
    }


    .institutionName{
        text-align: center!important;
        font-weight: bold!important;
        font-size: 20px!important;
        font-weight: bolder;
        font-family: monospace;

    }

    .institutionContact{
        position: relative!important;
        text-align: center!important;
        font-size: 12px!important;
        font-family:monospace;
    }

    .billDetails{
        text-align: center!important;
        font-size: 12px!important;
        font-family:Arial, Helvetica, sans-serif!important;
    }

}



.institutionContact{
    position: relative!important;
    text-align: center!important;
    font-size: 12px!important;
    font-family:monospace;
}

.billDetails{
    text-align: center!important;
    font-size: 12px!important;
    font-family:Arial, Helvetica, sans-serif!important;
}

.billDetailsFiveFiveBHT{
    text-align: center!important;
    font-size: 10px!important;
    font-family:Arial, Helvetica, sans-serif!important;
}


.headingBillFiveFiveBHT{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 12px!important;
    font-weight: bold;
}

.billDetailsFiveFive{
    font-size: 14px!important;
    font-family:verdana, Helvetica, sans-serif!important;
}

.itemHeadings{
    text-align: center!important;
    font-size: 13px!important;
    font-family:Arial, Helvetica, sans-serif!important;
    font-weight: bold;
}

.itemHeadingsFiveFive{

    font-size: 15px!important;
    font-family:verdana, Helvetica, sans-serif!important;
    font-weight: bold;
}

.itemsBlock{
    text-align: center!important;
    font-size: 13px!important;
    font-family:verdana, Helvetica, sans-serif!important;
    text-transform: capitalize!important;
}


itemsBlockRight{
    text-align: right!important;
    font-size: 13px!important;
    font-family:verdana, Helvetica, sans-serif!important;
    text-transform: capitalize!important;
    padding-right: 30px;
}


.itemsBlockRightFiveFive{
    text-align: right!important;
    font-size: 12px!important;
    font-family:Arial, Helvetica, sans-serif!important;
    text-transform: capitalize!important;
    padding-right: 30px;
}
.footer{
    text-align: center!important;
    font-size: 12px!important;
    font-family: monospace;

}

.billline{
    text-align: center!important;
    overflow: hidden;
    padding: 0px!important;
}

.bhtNoPharmacy{
    position: absolute;
    margin-top: 50px;
    margin-right: 30px;
}

.headingBill{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 12px!important;
    font-weight: bold;
}

.headingBillFiveFive{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 18px!important;
    font-weight: bold;
    padding: 0px!important;
}

.poDetail{
    font-size: 11px!important;
    font-family: sans;
    min-width: 100%!important;
}

.totalsBlock{
    font-size: 15px!important;
    font-family:Verdana, Helvetica, sans-serif!important;
}

.totalsItemBlock{
    font-size: 14px!important;
    font-family:Arial, Helvetica, sans-serif!important;
}

.totalsBlockFiveFiveNo{
    font-size: 10px!important;
    font-family:Arial, Helvetica, sans-serif!important;
}