/* 
    Document   : printing
    Created on : Oct 6, 2013, 11:53:48 AM
    Author     : Buddhika
    Description:
        Purpose of the stylesheet follows.
*/


*{
    margin:0px;
    padding: 0px;
}

root { 
    display: block;
}


@media print{
    .fiveinchbill{
        // page-break-after:always!important; 
        page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 1px;
        font-size: 180%;
    }

    .fiveinchbillBreak{
        // page-break-before: always!important;
        page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 12cm!important;
        height: 14cm!important;
        padding: 1px;
        font-size: 180%;
    }

    .fiveinchbillNoBreak{
        // page-break-before: always!important;
        page-break-after:always!important; 
        font-family: sans-serif!important;
        page-break-inside: avoid;
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 12cm!important;
        height: 14cm!important;
        padding: 1px;
        font-size: 180%;
    }

}


@media screen{
    .patientCard{
        width: 8.56cm;
        height: 5.398cm;
        border: 1px solid black;
    }

    .fiveinchbill{
        position: relative!important;
        padding: 5px!important;
        width: 12cm!important;
        height: 14cm!important;
        overflow:hidden!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        margin: auto!important; 
        background-size: 100% auto!important; 
        border: 1px solid!important;
        font-size: 130%;
        text-transform: capitalize!important;
    }

    .fiveinchbillBreak{
        position: relative!important;
        padding: 5px!important;
        width: 12cm!important;
        height: 14cm!important;
        overflow:hidden!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        margin: auto!important; 
        background-size: 100% auto!important; 
        border: 1px solid!important;
        font-size: 130%;

    }





}


@media print{

    .patientCard{
        width: 8.56cm;
        height: 5.398cm;
        border: 1px solid black;
    }


    .summery{
        // page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        //    width: 95%!important;
        //    height: 95%!important;
        padding: 0px!important;
        font-size: 100%!important;
    }



}


@media screen{
    .summery{
        position: relative!important;
        //   padding: 5px!important;
        //   height:550px!important;
        //    width:550px!important; 
        //     overflow:hidden!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        // margin: auto!important; 
        //   background-size: 100% auto!important; 
        //     border: 1px solid!important;
        font-size: 100%!important;
    }



}





@media print{
    .staffFive{
        position: relative!important;
        padding: 5px!important;
        height:800px!important;
        width:1100px!important; 
        overflow:hidden!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        margin: auto!important; 
        background-size: 100% auto!important; 
        border: 1px solid!important;
        font-size: 100%;
    }

}

@media screen{
    .staffFive{
        position: relative!important;
        padding: 5px!important;
        height:550px!important;
        width:550px!important; 
        overflow:hidden!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        margin: auto!important; 
        background-size: 100% auto!important; 
        border: 1px solid!important;
        font-size: 130%;
    }



}

@media print{
    .staffFive{
        // page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 180%;
    }

}


@media print{
    .a4bill{
        page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 100%;

    }


}

.headingPrintingCoop{
    text-align: center!important; 
    min-width: 90%!important; 
    /*padding: 5px!important;*/ 
    margin: auto!important; 
    font-size: 16px!important;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    
    
}
.headingPrinting{
    text-align: center!important; 
    min-width: 90%!important; 
    /*padding: 5px!important;*/ 
    padding-top: 30%!important;
    margin: auto!important; 
    font-size: 14px!important;
    font-weight: bold;
    text-transform: uppercase!important;
}

.headingBhtP{
    text-align: center!important; 
    min-width: 90%!important; 
    /*padding: 5px!important;*/ 
    padding-top: 20%!important;
    margin: auto!important; 
    font-size: 13px!important;
}

.bhtNo{
    position: absolute;
    left: 35%;
    margin-top: 26%;

}

.tbl{
    text-align: center!important;
    min-width: 90%!important;
    padding: 5px!important; 
    padding-top: 10%!important;
    margin: auto!important; 
    border: 1px!important;    
}

.cashierPrinting{
    text-decoration: overline;
    position:absolute!important;
    left:25%!important;
    bottom:3%!important;

}

.institutionName{
        text-align: center!important;
        font-weight: bold!important;
        font-size: 16px!important;
        font-weight: bolder;
        font-family: monospace;
        text-transform: capitalize!important;

    }

    .institutionContact{
        position: relative!important;
        text-align: center!important;   
        font-size: 12px!important;
        font-family:monospace;
    }

.cashierGSPrinting{
    text-decoration: overline;
    position:absolute!important;
    left:15%!important;
    bottom:3%!important;

}

.guardianGSPrinting{
    text-decoration: overline;
    position:absolute!important;
    right: 15%!important;
    bottom:3%!important;

}

.guardian{
    text-decoration: overline;
    position:absolute!important;
    right: 25%!important;
    bottom:10%!important;

}

.description{
    position:absolute!important;
    left:2.0cm!important;
    bottom:5%!important;

}

.mark{
    font-weight: bold;

}

@media screen{
    .a4bill{
        /*        position: relative!important;
                padding: 5px!important;
                height:800px!important;
                width:1100px!important;        
                font-family: sans-serif!important; 
                font-size: 11px!important; 
                margin: auto!important; 
                background-size: 100% auto!important; 
                border: 1px solid!important;
                font-size: 100%;*/
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 100%;
    }


}

.receiptnoPrinting{
    position: absolute;
    left: 29%!important;
    top: 7%!important;
    font-size: 16px!important;
    font-weight: bold;
}

.receiptnoPrintingLabel{
    position: absolute;
    left: 10%!important;
    top: 7%!important;
    font-size: 15px;
}

.receiptnoPrintingLabelCol{
    position: absolute;
    left: 27%;
    top: 7%;
    font-size:15px;
}

.billdatePrinting{
    position: absolute;
    left: 81%;
    top: 7%;
    font-size: 15px!important;

}

.billdatePrintingLabel{
    position: absolute;
    left: 71%;
    top: 7%;
    font-size: 15px;

}

.billdatePrintingLabelCol{
    position: absolute;
    left: 79%;
    top: 7%;
    font-size: 15px;

}

.paymentPrinting{
    position: absolute;
    left: 29% !important;
    top: 10.5%!important;
    font-size: 15px!important;

}

.paymentPrintingLabel{
    position: absolute;
    left: 10% !important;
    top: 10.5%;
    font-size: 15px;

}

.paymentPrintingLabelCol{
    position: absolute;
    left: 27% !important;
    top: 10.5%;
    font-size:15px;

}

.billtimePrinting{
    position: absolute;
    left:81%;
    top: 10.5%;
    font-size: 15px!important;

}

.billtimePrintingLabel{
    position: absolute;
    left:71%;
    top: 10.5%;
    font-size: 15px

}
.billtimePrintingLabelCol{
    position: absolute;
    left:79%;
    top: 10.5%;
    font-size: 15px;

}

.agePrinting{
    position: absolute;
    left:81%;
    top: 14%;
    font-size: 15px!important;

}

.agePrintingLabel{
    position: absolute;
    left:71%;
    top: 14%;
    font-size: 15px

}
.agePrintingLabelCol{
    position: absolute;
    left:79%;
    top: 14%;
    font-size: 15px;

}

.ptnamePrinting{
    position: absolute;
    left: 29% !important;
    top: 14%;
    font-size: 16px!important;

}

.ptnamePrintingLabel{
    position: absolute;
    left: 10% !important;
    top: 14%;
    font-size: 15px

}

.ptnamePrintingLabelCol{
    position: absolute;
    left: 27% !important;
    top: 14%;
    font-size: 15px;

}

.bhtNoGSPrinting{
    position: absolute;
    left: 36%;
    top: 16.8%;

}

.bhtNo{
    position: absolute;
    left: 36%;
    margin-top: 26.5%;

}

.billNamePrinting{
    position: absolute;
    left: 75%;
    top: 25%;
    // text-align: center;
    //  width: 90%;

}

.phonePrinting{
    position: absolute;
    left: 29%;
    top: 17.5%;
    font-size: 15px!important;

}

.phonePrintingLabel{
    position: absolute;
    left:10%;
    top: 17.5%;
    font-size: 15px

}

.phonePrintingLabelCol{
    position: absolute;
    left: 27%;
    top: 17.5%;
    font-size: 15px; 

}

.nicPrinting{
    position: absolute;
    left: 29%;
    top: 21%;
    font-size: 15px!important;
    font-weight: bold;

}

.totalCoop{
text-decoration: underline!important;
text-decoration-style: double!important;
font-weight: bold!important;
text-align: right!important;
font-size: 15px!important;
}

.totallabel{
    text-align: right!important;
    font-size: 15px!important;
    font-weight: bold!important;
}

.nicPrintingLabel{
    position: absolute;
    left:10%;
    top: 21%;
    font-size: 15px

}

.nicPrintingLabelCol{
    position: absolute;
    left: 27%;
    top: 21%;
    font-size: 15px; 

}

.bhtNoPrinting{
    position: absolute;
    left: 24%;
    top: 16.8%;

}



.cashier{
    position: inherit;
    
    left: 10%;
    text-decoration: overline;
    font-size: 12px;

}

.pgsignPrinting{
    position: absolute;
    bottom: 3%;
    left: 0%;
    text-decoration: overline; 
    margin-left: 70%; 
    font-size: 12px;

}

.consultPrinting{
    position: absolute;
    left: 36%;
    top: 17.8%;
    
}

.collectingCenterPrinting{
    position: absolute;
    left:81%;
    top: 16%;
    font-size: 15px!important;    
}

.consult2{
    position: absolute;

    left: 60%;
    top: -1%;
}

.collecting{
    position: absolute;
    left: 10%;
    top: 22%;


}


.itemsPrinting{
    
    font-size: 12px!important;
    position: absolute;
    left: 10%;
    top: 37%;

}

.disLabel{
    
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 10%;
    top: 33%;

}

.itemsGSPrinting{
    
    font-size: 11px;
    position: absolute;
    left: 7%;
    top: 26.5%;

}

.ratesPrinting{    
    position: absolute;
    left: 82%;
    top: 37%;
    font-size: 11px!important;
    text-align: right;

}

.amountLabel{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 78%;
    top: 33%;
    text-align: right;

}

.totalsPrinting{
    position: absolute;
    left: 30%;
    bottom: 10%;
    font-size: 150%;
    font-weight: bolder;
    text-align: right;
}

.worksheetfont{
    font-size: 13px!important;
    font-weight: bolder;
}


.worksheetval{
    font-size: 110%;
}

.DataTable {
    border: none !important;
    background: none!important;
    background-color: white;
}

.noBorder div *,
.noBorder div ,
.noBorder table *,
.noBorder td{
    border: none!important;
    border-top:none!important;
    font-family: Verdana!important;
    font-size: 11px!important;
}

.ui-datatable.borderless .ui-datatable-data tr,
.ui-datatable.borderless .ui-datatable-data-empty tr,
.ui-datatable.borderless .ui-datatable-data td,
.ui-datatable.borderless .ui-datatable-data-empty td {
    border-style: none!Important;
    padding: 1px;
    border: 1px;
    overflow: hidden;
}

.itemsToLeft{
    position: absolute;
    left: 25%;
    top: 24%!important;

}

.myTable td:nth-child(1) {
    width: 20px;
}

.myTable td:nth-child(1) {
    width: 180px;
}


.cel1R1L{
    position: absolute;
    left: 10%;
    top: 25%;
}


.cel1R1C{
    position: absolute;
    left: 20%;
    top: 25%;

}

.cel1R1V{
    position: absolute;
    left: 25%;
    top: 25%;

}

.cel2R1L{
    position: absolute;
    left: 65%;
    top: 25%;

}


.cel2R1C{
    position: absolute;
    left: 75%;
    top: 25%;

}

.cel2R1V{
    position: absolute;
    left: 80%;
    top: 25%;

}

.cel1R2L{
    position: absolute;
    left: 10%;
    top: 28%;


}

.cel1R2C{
    position: absolute;
    left: 20%;
    top: 28%;

}
.cel1R2V{
    position: absolute;
    left: 25%;
    top: 28%;

}


.cel2R2L{
    position: absolute;
    left: 65%;
    top: 28%;


}

.cel2R2C{
    position: absolute;
    left: 75%;
    top: 28%;

}
.cel2R2V{
    position: absolute;
    left: 80%;
    top: 28%;

}

.cel1R3L{
    position: absolute;
    left: 10%;
    top: 31%;


}

.cel1R3C{
    position: absolute;
    left: 20%;
    top: 31%;

}
.cel1R3V{
    position: absolute;
    left: 25%;
    top: 31%;

}


.cel2R3L{
    position: absolute;
    left: 65%;
    top: 31%;


}

.cel2R3C{
    position: absolute;
    left: 75%;
    top: 31%;

}
.cel2R3V{
    position: absolute;
    left: 80%;
    top: 31%;

}


.cel1R4L{
    position: absolute;
    left: 10%;
    top: 34%;


}

.cel1R4C{
    position: absolute;
    left: 20%;
    top: 34%;

}
.cel1R4V{
    position: absolute;
    left: 25%;
    top: 34%;

}


.cel2R4L{
    position: absolute;
    left: 65%;
    top: 34%;


}

.cel2R4C{
    position: absolute;
    left: 75%;
    top: 34%;

}
.cel2R4V{
    position: absolute;
    left: 80%;
    top: 34%;

}




@media screen{
    .fiveinchbillPharmacy{
        position: relative!important;
        padding: 5px!important;
        height:550px!important;
        width:550px!important; 
        overflow:hidden!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        margin: auto!important; 
        background-size: 100% auto!important; 
        border: 1px solid!important;
        font-size: 130%;
    }

}


@media print{

    .fiveinchbillPharmacy{
        page-break-after:always!important; 
        font-family: sans-serif!important; 
        font-size: 11px!important; 
        position: relative!important;  
        margin: 0px!important; 
        width: 95%;
        height: 95%;
        padding: 0px;
        font-size: 180%;
    }


}

.summeryBorder{
    width: 100%!important; margin:0px!important;padding:0px!important;border:none!important;

}