/build/
/dist/
/target/
/src/main/resources/version.txt
/src/main/resources/VERSION.txt
/src/main/webapp/WEB-INF/glassfish-resources.xml
/faces-config.NavData
.idea

# Wiki temp folders - these are GitHub wiki submodules cloned locally for editing
# Do not track as they are separate repositories
/wiki/
/hmis.wiki/
