/* 
 Print page for reprts.
 Report Header styles and table styles are defined here.
*/

@media screen{
    .paper {
        position: static !important;
        width: 297mm!important;
        zoom: 2.0;
    }                                
}
                            
@media print {
    @page {
        size: A4 landscape!important;
        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            font-family: Arial, sans-serif;
            font-size: 7pt;
        }
    }

    body {
        counter-reset: page;
    }

    .paper {
        position: static !important;
        width: 297mm!important;
    }      
                                
}

@media screen, print {

    .header{
        line-height: 1.1;
        margin: 0mm!important;
    }

    .table {
        width: 99%!important;
        font-size: 9pt!important;
        margin-top: 3mm!important;
        border-collapse: collapse !important;
    }
                                
    th, td {
        border: 1pt solid #000000 !important;
        padding: 1pt!important;
        text-align: left;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .report-header-table {
        border-collapse: collapse;
    }

    .report-header-table .label {
        font-weight: 600;
        padding-right: 5px;
        white-space: nowrap;
    }

    .report-header-table td {
        padding: 3px 8px;
        vertical-align: top;
    }

}